body{
    background-color: white;
    color: black;

}


.navbar{
    background-color: #8d99ae;
}


.card{
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid;
    border-color: #dcdcdd;
    background-color: #4c5c68;
    
}
.btn{
    background-color: #1985a1;
    border-color: #dcdcdd;
}