body{
    background-color: white;
    color: #edf2f4;
    text-align: center;
}
.logo{

    width: 24px;
    height: 24px;
}

.navbar{
    background-color: #8d99ae;
}


.card{
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid;
    border-color: #dcdcdd;
    background-color: #4c5c68;
    
}
.btn{
    background-color: #1985a1;
    border-color: #dcdcdd;
}